StuckytoysFrontend/.idea/
StuckytoysBackend/.idea/
StuckytoysBackend/node_modules/
StuckyToysAndroid/StuckyToys/.idea/
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/projecten-3-g_st_di_1100.iml
.idea/vcs.xml
.idea/workspace.xml
