StuckytoysFrontend/.idea/
StuckytoysBackend/.idea/
StuckytoysBackend/node_modules/
StuckyToysAndroid/StuckyToys/.idea/
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/projecten-3-g_st_di_1100.iml
.idea/vcs.xml
.idea/workspace.xml
StuckyToysAndroid/StuckyToys/aRBaseLib/aRBaseLib.iml
StuckyToysAndroid/StuckyToys/app/src/main/res/drawable/bg_story.png
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/assets/debug/bin/Data/Managed/Assembly-CSharp.dll
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/assets/debug/bin/Data/Managed/Mono.Security.dll
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/assets/debug/bin/Data/Managed/System.Core.dll
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/assets/debug/bin/Data/Managed/System.dll
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/assets/debug/bin/Data/Managed/UnityEngine.Networking.dll
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/assets/debug/bin/Data/Managed/UnityEngine.UI.dll
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/assets/debug/bin/Data/Managed/UnityEngine.dll
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/assets/debug/bin/Data/Managed/mscorlib.dll
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/assets/debug/bin/Data/Resources/unity_builtin_extra
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/assets/debug/bin/Data/globalgamemanagers
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/assets/debug/bin/Data/globalgamemanagers.assets
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/assets/debug/bin/Data/level0
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/assets/debug/bin/Data/settings.xml
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/assets/debug/bin/Data/sharedassets0.assets
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/assets/debug/bin/Data/unity default resources
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental-classes/debug/instant-run-bootstrap.jar
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental-runtime-classes/debug/instant-run.jar
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental-verifier/debug/com/example/Stoeky/BuildConfig.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental-verifier/debug/com/example/Stoeky/R$attr.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental-verifier/debug/com/example/Stoeky/R$drawable.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental-verifier/debug/com/example/Stoeky/R$string.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental-verifier/debug/com/example/Stoeky/R$style.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental-verifier/debug/com/example/Stoeky/R.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental-verifier/debug/com/example/Stoeky/UnityPlayerActivity.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental-verifier/debug/com/example/Stoeky/UnityPlayerNativeActivity.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental-verifier/debug/com/example/Stoeky/UnityPlayerProxyActivity.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental/mergeDebugAssets/merger.xml
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental/mergeDebugShaders/merger.xml
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental/packageDebug/dex-renamer-state.txt
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental/packageDebug/file-input-save-data.txt
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental/packageDebug/zip-cache/CKOavRGQZiyhi83DhyfdtJh7RPA=
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental/packageInstantRunResourcesDebug/dex-renamer-state.txt
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental/packageInstantRunResourcesDebug/file-input-save-data.txt
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/incremental/packageInstantRunResourcesDebug/zip-cache/CKOavRGQZiyhi83DhyfdtJh7RPA=
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/instant-run-resources/resources-debug.ir.ap_
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/instant-run-support/debug/instant-run.zip
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/instant-run-support/debug/manifest.crc
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/instant-run-support/debug/manifest.xml
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/jniLibs/debug/armeabi-v7a/libmain.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/jniLibs/debug/armeabi-v7a/libmono.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/jniLibs/debug/armeabi-v7a/libunity.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/jniLibs/debug/x86/libmain.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/jniLibs/debug/x86/libmono.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/jniLibs/debug/x86/libunity.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/manifests/instant-run/debug/AndroidManifest.xml
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/restart-dex/debug/build-info.xml
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/dex/debug/folders/1000/10/instant-run-bootstrap_93fa90fe7945cce2ac7c363bc4b10899eff94023/classes.dex
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/dex/debug/folders/1000/10/instant-run_cad31351e1809bfe0db6e67849327a55f3daa771/classes.dex
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/dex/debug/folders/1000/2/unity-classes_3ef75c7d0e7f2a08432aea8057e9b832692b444b/classes.dex
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/dex/debug/folders/1000/5/slice_0/classes.dex
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/dex/debug/folders/1000/5/slice_1/classes.dex
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/dex/debug/folders/1000/5/slice_2/classes.dex
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/dex/debug/folders/1000/5/slice_3/classes.dex
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/dex/debug/folders/1000/5/slice_4/classes.dex
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/dex/debug/folders/1000/5/slice_5/classes.dex
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/dex/debug/folders/1000/5/slice_6/classes.dex
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/dex/debug/folders/1000/5/slice_7/classes.dex
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/dex/debug/folders/1000/5/slice_8/classes.dex
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/dex/debug/folders/1000/5/slice_9/classes.dex
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/Stoeky/BuildConfig.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/Stoeky/R$attr.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/Stoeky/R$drawable.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/Stoeky/R$string.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/Stoeky/R$style.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/Stoeky/R.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/Stoeky/UnityPlayerActivity.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/Stoeky/UnityPlayerNativeActivity.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/Stoeky/UnityPlayerProxyActivity.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_0/com/android/tools/fd/dummy/slice_0.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_1/com/android/tools/fd/dummy/slice_1.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_2/com/android/tools/fd/dummy/slice_2.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_3/com/android/tools/fd/dummy/slice_3.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/com/android/tools/fd/dummy/slice_4.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_5/com/android/tools/fd/dummy/slice_5.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_6/com/android/tools/fd/dummy/slice_6.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_6/com/example/Stoeky/BuildConfig.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_6/com/example/Stoeky/R$attr.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_6/com/example/Stoeky/R$drawable.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_6/com/example/Stoeky/R$string.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_6/com/example/Stoeky/R$style.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_6/com/example/Stoeky/R.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_6/com/example/Stoeky/UnityPlayerActivity.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_6/com/example/Stoeky/UnityPlayerNativeActivity.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_6/com/example/Stoeky/UnityPlayerProxyActivity.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_7/com/android/tools/fd/dummy/slice_7.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/android/tools/fd/dummy/slice_8.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_9/com/android/tools/fd/dummy/slice_9.class
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/mergeJniLibs/debug/folders/2000/1f/main/lib/armeabi-v7a/libmain.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/mergeJniLibs/debug/folders/2000/1f/main/lib/armeabi-v7a/libmono.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/mergeJniLibs/debug/folders/2000/1f/main/lib/armeabi-v7a/libunity.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/mergeJniLibs/debug/folders/2000/1f/main/lib/x86/libmain.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/mergeJniLibs/debug/folders/2000/1f/main/lib/x86/libmono.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/mergeJniLibs/debug/folders/2000/1f/main/lib/x86/libunity.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/stripDebugSymbol/debug/folders/2000/1f/main/lib/armeabi-v7a/libmain.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/stripDebugSymbol/debug/folders/2000/1f/main/lib/armeabi-v7a/libmono.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/stripDebugSymbol/debug/folders/2000/1f/main/lib/armeabi-v7a/libunity.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/stripDebugSymbol/debug/folders/2000/1f/main/lib/x86/libmain.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/stripDebugSymbol/debug/folders/2000/1f/main/lib/x86/libmono.so
StuckyToysAndroid/StuckyToys/stoeky/build/intermediates/transforms/stripDebugSymbol/debug/folders/2000/1f/main/lib/x86/libunity.so
StuckyToysAndroid/StuckyToys/stoeky/build/outputs/apk/stoeky-debug.apk
