<div ng-show="vm.activeScene">
  <label>Tekst</label>
  <textarea
    placeholder="Geef hier de tekst die aanleiding geeft voor het vertellen van het verhaal"
    ng-model="vm.activeScene.text"
    class="form-control">
  </textarea>
  <div>
    <show-widget></show-widget>
  </div>
  <div class="widgetOptions">
    <button class="btn btn-default" ng-click="vm.selectWidget()">Kies widget</button>
    <button class="btn btn-default" ng-click="vm.newWidget()">Nieuwe widget</button>
    <button class="btn btn-default" ng-click="vm.hideWidgetSelection()">Annuleer</button>
  </div>
  <div ng-show="vm.selectWidgetClicked">
    <select-widget></select-widget>
  </div>
  <div ng-show="vm.newWidgetClicked">
    <make-widget></make-widget>
  </div>
  <div>
    <hint-creator></hint-creator>
  </div>
</div>
