<div>
  <div
    ngf-drop
    class="story-dropzone text-center"
    ng-model="vm.activeStory.picture">
    <p ng-hide="vm.activeStory.picture">Sleep foto hier</p>
    <img
    ngf-thumbnail="vm.activeStory.picture"
    ng-show="vm.activeStory.picture"
    alt="thumbnail"
    class="story-picture"/>
  </div>
  <input type="text"
    ng-model="vm.activeStory.name"
    class="form-control story-name"
    placeholder="Titel" />
  <div class="row">
    <div class="col-md-6">
      <input type="text"
        ng-model="vm.activeStory.duration"
        class="form-control"
        placeholder="Speelduur in uur" />
    </div>
    <div class="col-md-3">
      <input type="text"
        ng-model="vm.activeStory.price"
        class="form-control"
        placeholder="Prijs in €" />
    </div>
  </div>
</div>
