<div>
  <div>
    <p ng-repeat="theme in vm.activeStory.themes">
      {{theme.name}}
      <span class="remove-button" ng-click="vm.removeTheme(theme)">
        <img alt="remove" src="./resources/images/removebutton.png" />
      </span>
    </p>
  </div>
  <div class="themeOptions">
    <button class="btn btn-default" ng-click="vm.selectTheme()">Kies thema</button>
    <button class="btn btn-default" ng-click="vm.newTheme()">Nieuw thema</button>
    <button class="btn btn-default" ng-click="vm.hideThemeSelection()">Annuleer</button>
  </div>
  <div ng-show="vm.selectThemeClicked">
    <select class="form-control themeChooser"
      ng-model = "vm.selectedTheme"
      ng-change="vm.themeChooserChanged()">
      <option disabled selected value>Selecteer een thema</option>
      <option ng-repeat="theme in vm.themes" value={{theme._id}}>{{theme.name}}</option>
    </select>
  </div>
  <div ng-show="vm.newThemeClicked">
    <form ng-submit="vm.addTheme()">
      <input
        ng-model="vm.themeToAdd.name"
        type="text"
        placeholder="Naam"
        class="form-control"/>
      <textarea
        ng-model="vm.themeToAdd.description"
        placeholder="Omschrijving"
        class="form-control"></textarea>
        <p ng-show="vm.addThemeError" class="error">{{vm.addThemeError}}</p>
      <input type="submit" value="Voeg thema toe" class="btn btn-default"/>
    </form>
  </div>
</div>
