<div>
    <nav class="navbar navbar-inverse navbar-color">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/#/main"><img alt="StuckyToys" src="./resources/images/logo.png" class="logo" /></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/#/stories">Mijn verhalen</a></li>
                <li><a href="/#/widgets">Mijn widgets</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a>Welkom {{vm.username}}</a>
                </li>
                <li>
                    <a ng-click="vm.logOut()">
                        <span class="glyphicon glyphicon-log-out"></span> Log uit
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
      <div ng-show="vm.saveError" class="alert alert-danger">{{vm.saveError}}</div>
        <div class="row">
            <div class="col-md-3 scene-chooser">
              <scene-chooser></scene-chooser>
            </div>
            <div class="col-md-6 story-creator">
                <h3>Maak verhaal</h3>
                <story-creator></story-creator>
                <scene-creator></scene-creator>
                <button class="btn btn-default save-story" ng-click="vm.saveStory()">Sla verhaal op</button>
            </div>
            <div class="col-md-3 theme-chooser">
              <theme-chooser></theme-chooser>
            </div>
        </div>
    </div>
</div>
