<div>
    <nav class="navbar navbar-inverse navbar-color">
        <div class="container-fluid">
            <div class="navbar-header">
                <img alt="StuckyToys" src="./resources/images/logo.png" class="logo" />
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                  <a>Welkom {{vm.username}}</a>
                </li>
                <li>
                  <a ng-click="vm.logOut()">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Log uit
                  </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="tile" ng-click="vm.navigateTo('makeStory')">
            <img alt="Maak verhaal" src="./resources/images/Tiles/maakVerhaal.png" />
            <p>Maak verhaal</p>
        </div>
        <div class="tile" ng-click="vm.navigateTo('stories')">
            <img alt="Mijn verhalen" src="./resources/images/Tiles/mijnVerhalen.png" />
            <p>Mijn verhalen</p>
        </div>
        <div class="tile" ng-click="vm.navigateTo('makeWidget')">
          <img alt="Maak widget" src="./resources/images/Tiles/maakWidget.png" />
          <p>Maak widget</p>
        </div>
        <div class="tile" ng-click="vm.navigateTo('widgets')">
          <img alt="Mijn widgets" src="./resources/images/Tiles/mijnWidgets.png" />
          <p>Mijn widgets</p>
        </div>
    </div>
</div>
