<div class="container">
    <h3>Voeg lid toe</h3>
    <form ng-submit="vm.createMember()">
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Voornaam"
                   ng-model="vm.member.firstName">
            </input>
        </div>
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder = "Bijnaam"
                   ng-model="vm.member.nickname">
            </input>
        </div>
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="rol bvb kind, leerling, ouder,...."
                   ng-model="vm.member.role">
            </input>
        </div>
        <div class="form-group">
            <p>kies een avatar (klik op de tegel):</p>
            <div class="tile" ng-repeat="figure in vm.figures">
                <img src="{{figure.picture.base64}}" alt="{{figure.name}}" ng-click="vm.chooseAvatar(this.figure)"/>
            </div>
        </div>
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="dd mm yyyy"
                   ng-model="vm.member.dateOfBirth">
            </input>

        </div>
        <div class="form-group">
            Is deze persoon een beheerder voor dit account? Ja of Nee:
            <input type="checkbox"
                   class="form-control"
                   value="Autoritair iemand? bvb vader, leeraar,...."
                   ng-model="vm.member.authority">
            </input>
        </div>
        <input type="submit" class="btn btn-primary" value="Registreer"/>
    </form>
</div>