<div>
  <nav class="navbar navbar-inverse navbar-color">
      <div class="container-fluid">
          <div class="navbar-header">
              <a href="/#/main"><img alt="StuckyToys" src="./resources/images/logo.png" class="logo" /></a>
          </div>
          <ul class="nav navbar-nav">
              <li><a href="/#/stories">Mijn verhalen</a></li>
              <li><a href="/#/widgets">Mijn widgets</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a>Welkom {{vm.username}}</a>
              </li>
              <li>
                  <a ng-click="vm.logOut()">
                      <span class="glyphicon glyphicon-log-out"></span> Log uit
                  </a>
              </li>
          </ul>
      </div>
  </nav>
  <div class="container">
    <h1>Mijn widgets</h1>
    <table class="table">
      <tr>
        <th>Naam</th>
        <th>Type</th>
      </tr>
      <tr ng-repeat="widget in vm.widgets">
        <td><a href="/#/widget/{{widget._id}}">{{widget.id}}</a></td>
        <td>{{vm.getTypeOfWidget(widget)}}</td>
      </tr>
    </table>
  </div>
</div>
