<div>
    <nav class="navbar navbar-inverse navbar-color">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/#/main"><img alt="StuckyToys" src="./resources/images/logo.png" class="logo" /></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/#/stories">Mijn verhalen</a></li>
                <li><a href="/#/widgets">Mijn widgets</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a>Welkom {{vm.username}}</a>
                </li>
                <li>
                    <a ng-click="vm.logOut()">
                        <span class="glyphicon glyphicon-log-out"></span> Log uit
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
      <h1>{{vm.widget.id}}</h1>
      <table class="table">
        <tr ng-repeat="file in vm.widget.widgetFiles">
          <td>{{file.fileName}}</td>
          <td>
            <img
              ng-show="file.type === 'music'"
              class="playsound"
              src="./resources/images/playsound.png"
              alt="Play"/>
            <button
              ng-show="file.type === 'image'"
              class="btn btn-default">
              Download
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
