<div>
    <nav class="navbar navbar-inverse navbar-color">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/#/main"><img alt="StuckyToys" src="./resources/images/logo.png" class="logo" /></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/#/stories">Mijn verhalen</a></li>
                <li><a href="/#/widgets">Mijn widgets</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a>Welkom {{vm.username}}</a>
                </li>
                <li>
                    <a ng-click="vm.logOut()">
                        <span class="glyphicon glyphicon-log-out"></span> Log uit
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div
          class="alert alert-info"
          ng-show="vm.noEntriesFound">
          {{vm.noEntriesFound}}
        </div>
        <h1>Mijn verhalen</h1>
        <input
          type="text"
          ng-model="vm.maxDuration"
          ng-change="vm.filterDuration()"
          ng-click="vm.reset()"
          placeholder="Maximale tijdsduur in uur"
          class="pull-right form-control filter-duration"/>
        <select class="pull-right form-control filter-theme"
          ng-model = "vm.selectedTheme"
          ng-change="vm.filterTheme()">
          <option disabled selected value>Zoek op thema</option>
          <option>Toon alle</option>
          <option ng-repeat="theme in vm.themes">{{theme.name}}</option>
        </select>
        <input
          type="text"
          ng-model="vm.keyword"
          ng-change="vm.filter()"
          ng-click="vm.reset()"
          placeholder="Zoek op naam"
          class="pull-right form-control filter-name"/>
        <table class="table">
          <tr>
            <th>Afbeelding</th>
            <th>Naam</th>
            <th>Datum</th>
            <th>Aantal scenes</th>
            <th>Thema's</th>
            <th>Duur</th>
            <th>Prijs</th>
            <th>Gepubliceerd</th>
            <th></th>
         </tr>
         <tr ng-repeat="story in vm.filteredStories">
           <td><img alt="verhaal" src="http://localhost:3000/downloads/afbeelding/{{story.path}}"/></td>
           <td><a href="#/story/{{story._id}}">{{story.name}}</a></td>
           <td>{{story.date}}</td>
           <td>{{story.scenes.length}}</td>
           <td><p ng-repeat="theme in story.themes">{{theme.name}}</p></td>
           <td>{{story.duration}} uur</td>
           <td>€ {{story.price}}</td>
           <td><input type="checkbox" ng-model="story.published" ng-disabled="true"/></td>
           <td><button ng-show="!story.published">Publiceer</button></td>
         </tr>
        </table>
    </div>
</div>
