<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/#/main"><img alt="StuckyToys" src="./resources/images/logo.png" class="logo" /></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a>Welkom {{vm.username}}</a>
                </li>
                <li>
                    <a ng-click="vm.logOut()">
                        <span class="glyphicon glyphicon-log-out"></span> Log uit
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div ng-repeat="scene in vm.story.scenes"
              class="scene"
              ng-click="vm.selectScene(scene)"
              ng-class="{activeScene : vm.activeScene === scene}">
            <p>{{scene.sceneNr}}</p>
          </div>
        </div>
        <div class="col-md-6">
          <input type="text"
            ng-model="vm.story.name"
            ng-disabled="!vm.editMode"
            class="form-control" />
        </div>
        <div class="col-md-3">

        </div>
      </div>
    </div>
