nav ul li a{
  cursor: pointer;
}
.banner{
  width: inherit;
  margin-top: 20px;
}
.logo{
  width : 200px;
  margin-top: 5px;
}
.background{
  width: 140%;
  padding-left: 20%;
  padding-right: 20%;
  height: 500px;
  background-image: url('../resources/images/background.png');
  background-repeat: no-repeat;
}
.error{
  color: red;
}

.tile{
  text-align: center;
  border: 3px solid black;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
}

.tile a{
  text-align: center;
  color: #000;
  display: block;
  text-decoration: none;
  width:100%;
}
.tile img{
  width: 200px;
  height: 200px;
}

.tile:hover{
  border: 3px solid green;
  cursor: pointer;
}

.tile a:hover {
  color:green;
}

.tile:nth-of-type(2n) {
  margin-right: 0;
}

.logout{
  float: right;
}
.scenes {
  margin-top: 50px;
  border-right: 1px solid grey;
}
.scene {
  border: 1px solid black;
  height: 100px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
}
.theme {
  margin-top: 55px;
  border-left: 1px solid grey;
}
.themeChooser {
  margin-top: 5px;
}
.make-story-selection {
  margin-top: 5px;
}
textarea {
  margin-top: 5px;
}
@media screen and (min-width: 50em) {
  .tile {
    width: calc(25% - 6px);
  }

  .tile:nth-of-type(2n) {
    margin-right: 8px;
  }

  .tile:nth-of-type(4n) {
    margin-right: 0;
  }
}
