<input type="text" placeholder="Titel" ng-model="vm.activeStory.name" class="form-control" />
<textarea
  ng-show="vm.activeScene.text"
  class="form-control"
  ng-model="vm.activeScene.text.theText"></textarea>
<p class="make-story-selection" ng-show="vm.activeScene">Voeg
  <button
    ng-hide="vm.activeScene.text"
    class="btn btn-default"
    ng-click="vm.addText()">Tekst
  </button>
   toe of selecteer een
   <button
    class="btn btn-default"
    ng-click="vm.addWidget()"
    >Widget
  </button>
   .
 </p>
 <select
  class="form-control"
  ng-show="vm.widgetChooserClicked"
  ng-model="vm.selectedWidget"
  ng-change="vm.selectWidget()">
  <option ng-repeat="widget in vm.widgets">{{widget.id}}</option>
 </select>
 <!--
 <button class="btn btn-default"
  ng-hide="!vm.activeScene && vm.activeScene.hints.length === 3 "
  ng-click="vm.addHint()">
    Voeg hint toe
 </button>
 <div ng-reapeat="hint in vm.activeScene.hints">
   <input type="text" ng-model="hint"/>
 </div>
 -->
