<input type="text" placeholder="Titel" ng-model="vm.activeStory.name" class="form-control" />
<textarea
  ng-repeat="text in vm.activeScene.texts"
  class="form-control"
  ng-model="text.theText"></textarea>
<p class="make-story-selection" ng-show="vm.activeScene">Voeg
  <button
    class="btn btn-default"
    ng-click="vm.addText()">Tekst
  </button>
   toe of selecteer een
   <button
    class="btn btn-default"
    ng-click="vm.addWidget()"
    >Widget
  </button>
   .
 </p>
 <select
  class="form-control"
  ng-show="vm.widgetChooserClicked"
  ng-model="vm.selectedType"
  ng-change="vm.selectType()">
  <option ng-repeat="type in vm.types">{{type}}</option>
 </select>
